@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: url(bgimage2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container{
width: 100%;
margin: 0;

}


nav {
  background-color: rgba(51, 51, 51, 0.6);
  height: 48px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 3px rgba(0,0,0,0.26);
  overflow-x: auto;
  overflow-y: hidden;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 48px 80px auto 80px 80px;
  grid-template-areas: "logo home . projects tag";

  #nav-logo {
    grid-area: logo;
    align-self: center;
    padding-left: 15px;
    filter: invert(1);
  }

  #nav-tag {
    grid-area: tag;
    padding-left: 40%;
  }

  img {
    width: 48px;
  }

  a, a:visited {
    color: #ECEFF4;
    text-decoration: none;
  }

  a:hover {
    background-color: #37474f;
  }

  .nav-dropdown {
    display: grid;
    margin-top: -5px;
    padding-right: 50px;
    span {
      margin: auto;
    }
  }
}



.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 100px;
  justify-items: center;
  grid-template-areas:
  "title title title title title title title title . . . ."
  "title title title title title title title title . . . ."
  ". aps aps diner diner breakfast breakfast desert desert drinks drinks ."
  ". aps aps diner diner breakfast breakfast desert desert drinks drinks ."
  ". . . . mainlogo mainlogo mainlogo mainlogo mainlogo mainlogo mainlogo mainlogo"
  ". . . . mainlogo mainlogo mainlogo mainlogo mainlogo mainlogo mainlogo mainlogo";
}

.title { grid-area: title;
opacity: 0.8;
filter: invert(1);
padding-bottom: 10px;
}

.aps { grid-area: aps; }

.diner { grid-area: diner; }

.breakfast { grid-area: breakfast; }

.desert { grid-area: desert; }

.drinks { grid-area: drinks; }

.mainlogo { grid-area: mainlogo;
opacity: 0.8;
 }

.spotifyicon { grid-area: spotifyicon; }
