<div class="container">
  <nav>
    <div id="nav-logo">
   <%=image_tag("sdlogo.png")%>
   </div>
    <a id='nav-tag' class='nav-dropdown'><span><i class="fa fa-hashtag" aria-hidden="true"></i></span></a>
  </nav>
